* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Amaranth', sans-serif;
	/*color: #FFF359;*/
	
}

#title {
		margin-bottom: 0;
		color: rgb(214, 218, 221);
		font-size: 50px;
		text-align: center;
}

#myportfolio {
	/*padding: 40px;*/
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: rgba(70, 125, 211, 0.7);
	/*text-align: center;*/
	/*border: 1px solid black;*/
	color: #1B1B1E;
}


#myPort {
	font-size: 50px;
	/*text-align: center;*/
} 


/*main {
	height: 100vh;
}*/

.myname {
	margin-top: 100px;
	font-size: 7em;
	text-align: center;
	color: #1B1B1E;
	
}

#maincontainer {
	background-image: url(../images/portfolio-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*height: 200vh;*/
	/*height: 150%;*/
	/*border: 1px solid black;	*/
}

/*#mainpage {
	background-image: url(../images/portfolio-bg.jpg);
	background-size: cover;
}*/

#mypic {
	padding-top: 10px;
	padding-bottom: 10px;
	/*padding-left: 10px;*/
	border-radius: 100%;
	height: 70%;
	width: 70%;
	/*border: 1px solid black;*/

}

#aboutme {
	border-radius: 10px;
	padding: 10px;
	background-color: transparent;
}

.category {
	text-align: center;
	font-size: 30px;
}

#footer {
	background-color: rgba(70, 125, 211, 0.7);
	height: 10vh;
	padding-top: 30px;
	/*margin-top: 60px;*/
}

.capstone-links {
	text-align: center;
	font-size: 50px;

}

.card {
	background-color: transparent;
}

#accordionSkills, 
#accordionTools, 
#accordionEmailLinks {
	text-align: center;
}

.ullist {
	list-style: none;
}

#accordionSkills,
#accordionTools, 
#accordionEmailLinks {
	background-color: #C5C3C6;
}

#headingSkills,
#headingTools,
#headingEmailLinks {
	background-color: #57574C;
	margin-bottom: 50px;
} 

.accordion>.card>.card-header>.btn {
	font-size: 2em;
	
}

.card-text {
	text-indent: 50px;
}

.copyright {
	text-align: center;
}

















































/*mobile phone*/
@media only screen and (max-width: 450px) {
	#accordionSkills, #accordionTools, #accordionEmailLinks {
		margin-left: -125px;
		text-align: center;
	}

	.myname {
		font-size: 3em;
		color: #6C94B7;
	}

	.capstone-links {
		text-align: center;
		font-size: 20px;
	}

}	

/*tablets*/
@media (min-width:451px) and (max-width: 768px) {
	.accordion>.card>.card-header>.btn {
		font-size: 1em;
	}

	#mypic {
		height: 50%;
		width: 50%;
	}
}	